.content {
    color: white;
    background-color: rgba( 77, 0, 0, 1);
    width: 95%;
    margin: auto;
    margin-bottom: 2%;
    padding: 10%;

}
.businessHour {
    text-align: center;
}
.main-contents{
    text-align: center;
    background-color: rgba(204, 0, 0, 0.2);
}
#map {
    height: 100%;
    
 }
 .business-table{
     margin: auto;
     width: 50%;
 }
 .contact-table{
    margin: auto;
    width: 50%;
}
 .label-right-space{
     text-align: left;
    
 }
 .answer-left-space{
    text-align: right;
   
 }